<header>
    <div class="container">
        <a routerLink="/" class="logo">Food mine</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">JOhn</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">prders</a>
                        <a>Log out</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">cart <span>3</span></a>
                </li>
            </ul>
        </nav>
    </div>
</header>