div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div a{
    
    padding: 0.3rem 0.2rem;
    
    margin: 0.2rem 0.15rem ;
    text-decoration: none;
    color: black;
    background-color: rgb(222, 222, 222);
    border-radius: 100rem;
    font-weight: 600;
}

